
        .main-sidebar{
            position: sticky;
            top: 0%;
            float: left;
            left: 0%;
            height: 100vh;
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
        }
        aside > div > img {
            border-radius: 5px;
            overflow: hidden;
        }
        aside{
            border: 1px solid grey;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 0 1px 0;
        }
        @media (width > 800px) { 
            main{
                position: relative;
            }
            aside{
                margin-left: 10px;
                position: relative;
                float: right;
                right: 0%;
                width: 25%;
            }
        }
   
        footer ul>li{
            text-align: center;
            list-style: none;
        }
